@import 'tailwindcss';

:root {
  --background: #e3e3e3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-proxima: var(--font-proxima-soft), system-ui, sans-serif;
  --font-blur: var(--font-blur), system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.squircle {
  corner-shape: squircle;
}

button {
  @apply cursor-pointer outline-none;
}
